body{
    background-color: rgb(22, 22, 22); 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span{
    color: #06FEE2;
}

/* Navbar */

.side-navigation{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(31, 31, 31);
    box-shadow: 3px 0px 5px rgb(20, 20, 20);
}

.logo-nest{
    position: relative;
    float: left;
    width: 60px;
    height: 60px;
    top: 0;
    background-color: rgb(20, 20, 20);
}

.logo-nest img{
    width: 40px;
    height: 40px;
    margin: 10px;
}

/* Menu */
.menu {
    display: block;
    position: relative;
    width: auto;
}

.main-menu-desktop {
    display: none;
    position: absolute;
}

.main-menu-mobile{
    text-align: center;
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu-mobile li{
    display: inline-block;
    padding: 18px 20px;
}

.main-menu-mobile li i{
    font-size: 24px; 
    color: #707070;
}

.main-menu-mobile li i.active{
    color: #06FEE2;
}

.main-menu-mobile li i:hover{
    color: #06FEE2;
}

/* Social Media */

.social-media{
    display: none;
    position: absolute;
    width: 70px;
    height: 180px;
    bottom: 0;
    text-align: center;
}

.social-media a{
    text-decoration: none;
    display: inline-block;
    margin: 10px;
}

.social-media a i{
    font-size: 24px;
    color: white;
}

/* Intro */

.intro{
    position: absolute;
    width: 300px;
    height: auto;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro h1{
    font-size: 40px;
    font-family: 'Krona One';
    color: white;
    margin: 0;
    padding: 0;
}

.intro p{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Sen';
    color: white;
    margin-bottom: 10px;
}

.intro a{
    padding: 5px 10px;
    font-size: 16px;
    font-family: 'Sen';
    color: #06FEE2;
    border: 1px solid #06FEE2;
    border-radius: 30px 0 30px 30px;
}

.intro a:hover{
    background-color: #06FEE2;
    color: rgb(31, 31, 31);
    text-decoration: none;
}

/* about */

.about .row{
    margin-top: 65px;
}

.about h1{
    font-size: 36px;
    font-family: 'Krona One';
    color: white;
    margin: 0;
    padding: 0;
}

.about p{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Sen';
    color: #D5D5D5;
}

.about h4{
    color: white;
    font-family: 'Krona One';
    font-size: 30px;
}

.about i{
    margin: 10px;
    font-size: 125px;
    display: block;
}

.about i.html{
    color: #F16529;
}

.about i.css{
    color: #2965F1;
}

.about i.bootstrap{
    color: #563D7C;
}

/* MyWork */
.work .card{
    width: auto; 
    background-color: transparent; 
    color: whitesmoke;
    font-family: 'Sen';
    border: none;
}

.work .big-card{
    max-height: 550px;
}

.work .carousel .carousel-item {
    max-height: 330px;
}

.work .carousel img{
    width: 100%;
    height: 100%;
}

.work .row{
    margin-top: 75px;
    margin-bottom: 50px;
}

@media (min-width: 992px){
    /* Background Text */
    .bgtext{
        overflow: visible;
        position: relative;
}

    .bgtext div{
        font-size: 400px;
        font-family: 'Krona One';
        color: #2A2A2A;
        position: absolute;
        z-index: -98;
        text-shadow: 6px 0 4px rgb(20, 20, 20);
        margin: 0;
}

    .bgtext p.bgtext1{
        top: -50%;
        right: 50%;
}

    .bgtext p.bgtext2{
        overflow: hidden;
        top: 450px;
        left: 50%;
}

    /* Background Text */
    .bgtext{
        display: block;
    }

    /* Backgound Image */

    .bgimage{
        display: block;
        position: absolute;
        right: -12%;
        bottom: -24%;
    }

    /* Navigation */
    .side-navigation{
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        width: 70px;
        height: 100%;
        background-color: rgb(31, 31, 31);
        box-shadow: 3px 0px 5px rgb(20, 20, 20);
    }
    
    .logo-nest{
        position: relative;
        width: 70px;
        height: 70px;
        top: 0;
        background-color: rgb(20, 20, 20);
    }
    
    .logo-nest img{
        width: 45px;
        height: 45px;
        margin: 13px;
    }
    
    /* Menu */
    
    .menu {
        display: block;
        position: absolute;
        top: 50%;
        white-space: nowrap;
        transform: rotate(270deg);
        transform-origin: 0% 0%;
        margin-top: 200px;
        width: auto;
        height: 70px;
    }

    .main-menu-mobile{
        display: none;
    }
    
    .menu ul.main-menu-desktop{
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .menu .main-menu-desktop li{
        display: inline-block;
        padding: 23.5px 18px;
    }
    
    .menu .main-menu-desktop li a{
        text-decoration: none;
        font-size: 20px;
        font-family: sans-serif;
        color: #707070;
    }
    
    .menu .main-menu-desktop li a:hover{
        text-shadow: 2px 2px 5px rgba(26, 26, 26, 0.2);
        color: #06FEE2;
    }
    
    .menu .main-menu-desktop li a.active{
        text-shadow: 2px 2px 5px rgba(26, 26, 26, 0.2);
        color: #06FEE2;
    }
    
    /* Social Media */
    
    .social-media{
        position: absolute;
        display: block;
        width: 70px;
        height: 180px;
        bottom: 0;
        text-align: center;
    }
    
    .social-media a{
        text-decoration: none;
        display: inline-block;
        margin: 10px;
    }
    
    .social-media a i{
        font-size: 24px;
        color: white;
    }
    
    /* Intro */

    .intro{
        width: 600px;
    }

    .intro h1{
        font-size: 72px;
        font-family: 'Krona One';
        color: white;
        margin: 0;
        padding: 0;
    }
    
    .intro p{
        padding: 0;
        margin: 0;
        font-size: 20px;
        font-family: 'Sen';
        color: white;
        margin-bottom: 25px;
    }

    .intro a{
        padding: 10px 20px;
        font-size: 18px;
        font-family: 'Sen';
        color: #06FEE2;
        border: 1px solid #06FEE2;
        border-radius: 30px 0 30px 30px;
    }

    /* About */
    .about h1{
        font-size: 72px;
        font-family: 'Krona One';
        color: white;
        margin: 0;
        padding: 0;
    }

    .about p{
        font-size: 20px;
    }

    .about h4{
        font-size: 64px;
    }

    .about i{
        margin: 10px;
        font-size: 250px;
        display: inline-block;
    }

    /* MyWork */
    .work .card{
        width: auto; 
        background-color: transparent; 
        color: whitesmoke;
        font-family: 'Sen';
        border: none;
    }

    .work .big-card{
        max-height: 550px;
    }

    .work .carousel .carousel-item {
        max-height: 350px;
    }

    .work .carousel img{
        width: 100%;
        height: 100%;
    }

    .work .row{
        margin-top: 65px;
        margin-bottom: 65px;
    }

}